---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Badge, Card, Heading, Link, Pagination } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { slugify } from '@/utils/slugify'

// Import images directly for optimization
import projectImage1 from '@assets/images/projects/roi/chaoscosmos-roi2023-mockup-cover-w2560.webp'
import projectImage2 from '@assets/images/projects/interior/chaoscosmos-interior-mockup-cover-w2560.webp'
import projectImage3 from '@assets/images/projects/symbiosis-planner/chaoscosmos-symbiosis2019-mockup-planner-cover-w2560.webp'
import projectImage4 from '@assets/images/projects/antilica-jungle/chaoscosmos-antilica-photo-4.webp'
import projectImage50 from '@assets/images/projects/kaid/chaoscosmos-kaid-intro.webp'

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection('projects')
  const allTags = projects.map((project) => project.data.tags).flat()
  const uniqueTagLabels = [...new Set(allTags)].sort((a, b) => a.localeCompare(b))
  const uniqueTags = uniqueTagLabels.map((label) => ({
    label,
    slug: slugify(label),
  }))

  const projectImages = [projectImage1, projectImage2, projectImage3, projectImage4, projectImage50]

  const projectsWithImages = projects.map((project, index) => {
    return {
      ...project,
      // slug from frontmatter or title
      slug: project.data.slug ?? slugify(project.data.title),
      featuredImage: projectImages[index % projectImages.length],
    }
  })

  return paginate(projectsWithImages, {
    pageSize: 6,
    props: { uniqueTags },
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'projects'> & { featuredImage: any; slug?: string }>
  uniqueTags: { label: string; slug: string }[]
}

const { page, uniqueTags } = Astro.props

console.log(page.lastPage)
---

<DefaultLayout
  title="Portfolio"
  description=""
>
  <PageHeader
    title="Portfolio"
    subtitle=''
    bgType="bordered"
  />
  <section class="my-12">
    <div class="container">
      <Heading level="h2" size="h5" class="mb-2">Tagi</Heading>
      <div class="flex flex-wrap gap-4">
        {
          uniqueTags.map((tag: { label: string; slug: string }) => (
            <Link href={'/portfolio/tag/' + tag.slug}>{tag.label}</Link>
          ))
        }
      </div>
      <p class="mt-8 text-sm">
        <em>Projekt {page.start + 1} do {page.end + 1} z {page.total} wszystkich projektów</em>
      </p>
      <ul class="mt-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((project) => (
            <li>
              <Card
                imageComponent={project.featuredImage}
                url={'/portfolio/' + project.slug}
                title={project.data.title}
                headingLevel="h2"
                footer={'Klient: ' + project.data.client}
                fullHeight={true}
                class="gsapanim border bg-[var(--card-background-color)] rounded-lg lg:rounded-bl-4xl"
              >
                <span slot="meta">
                  {project.data.tags.map((tag) => (
                    <Badge>{tag}</Badge>
                  ))}
                </span>
                {project.data.description}
              </Card>
            </li>
          ))
        }
      </ul>
      {
        page && page.lastPage > 1 && (
          <div class="mt-12 grid place-content-center">
            <Pagination
              firstPage={page.url.prev ? '/portfolio' : null}
              previousPage={page.url.prev ? page.url.prev : null}
              nextPage={page.url.next ? page.url.next : null}
              lastPage={page.url.next ? `/portfolio/${page.lastPage}` : null}
              currentPage={`${page.currentPage}`}
              totalPages={`${page.lastPage}`}
              ariaLabel="Portfolio pagination"
            />
          </div>
        )
      }
    </div>
  </section>
</DefaultLayout>
